alias ebrc="$EDITOR $HOME/.bashrc"
alias ebal="$EDITOR $HOME/.aliases"
alias eufn="$EDITOR $HOME/.user_func"
alias ebpr="$EDITOR $HOME/.bash_profile"
alias esway="$EDITOR $HOME/.config/sway/config"
alias egrub="sudo $EDITOR /etc/default/grub"

alias gdenv="cd $DEVENV"

alias fox="firefox & disown"
alias ff="fastfetch"
alias v="nvim"
alias gvim="cd $HOME/.config/nvim"
alias sudovi="sudo -E $EDITOR"

alias g="git"

alias ..="cd .."
alias ...="cd ../.."
alias .3="cd ../../.."

alias :q="exit"
alias hdsize="du -sh ."

alias cls="clear && ls"

alias ll='ls -alFh --color=always'
alias la='ls -A'
alias l='ls -CF'

if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    #alias dir='dir --color=auto'
    #alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi


