configuration {
  show-icons: true;
  icon-theme: "Papirus-Dark";
  drun-display-format: "{icon} {name}";
}

window {
  transparency: "real";
  background-color: transparent;
}

mainbox {
  background-color: rgba(30, 30, 46, 0.3);
  border: 2px solid rgba(100, 100, 100, 0.5);
}

element {
  background-color: transparent;
  text-color: #ffffff;
}

element selected {
  background-color: rgba(255, 255, 255, 0.1);
  text-color: #89dceb;
}

